* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#hud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    #bottom-bar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 220px;
        background: green;

        .buttons {
            width: 220px;
            height: 100%;
            background: blue;
        }
    }
}


