* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    font-family: Helvetica, Arial, Sans-serif;
}

#hud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    #bottom-bar {
        pointer-events: all;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 220px;

        .buttons {
            width: 220px;
            height: 100%;
            background: blue;

            .button {
                padding: 12px;
                background: white;
                margin: 2px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}


